
  <div class="group">
    <%= f.label :post_id, "Post_id", :class => :label %>
    <%= f.text_field :post_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :body, "Body", :class => :label %>
    <%= f.text_area :body, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user_id, "User_id", :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', admin_comments_path %>
</div>