<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'List', admin_comments_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">All Comments</h2>
    <div class="inner">
      <table class="table">
        <tr>             
					<th class="first">Comment</th>
					<th>Created at</th>
					<th>Post</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @comments.each do |comment| -%>
        <tr class="<%= cycle("odd", "even") %>">
	
          <td class="first"><%= link_to truncate(comment.body), admin_comment_path(comment) %></td>
					<td><%= comment.created_at %></td>
					<td><%= link_to comment.post.title, admin_post_path(comment.post) %></td>
						
          <td class="last">
            <%= link_to 'show', admin_comment_path(comment) %> |
            <%= link_to 'destroy', admin_comment_path(comment), :method => :delete, :confirm => 'Are you sure?' %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar">
        <div class="actions">
        </div>
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
