<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', admin_comments_path  %></li>
      <li class="active"><%= link_to 'Show', admin_comment_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">

			<p>
				<b>Body:</b>
				<%= @comment.body %>
			</p>
			
			<p>
        <b>Post:</b>
        <%= @comment.post.title %>
      </p>

			<p>
				<b>User:</b>
				<%= link_to @comment.user.name, admin_user_path(@comment.user) %>
			</p>
      <%= link_to 'Destroy', admin_comment_path(@comment), :method => :delete, :confirm => 'Are you sure?' %>
    </div>
  </div>
</div>
