<%= title "Change My Password" %>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
	<%= f.error_messages %>
	<fieldset class="first">
		<p>
			<%= f.label :password %>
			<%= f.password_field :password, :class => "input_text" %>
		</p>
		<br />
		<p>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, :class => "input_text" %>
		</p>
	</fieldset> 
	<fieldset class="submit">
		<p><%= f.submit "Update my password and log me in", :class => "input_submit" %></p>
	</fieldset>
<% end %>