<%= title t('password.change') %>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
	<%= f.error_messages %>
	<fieldset class="first">
		<p>
			<%= f.label :password, t('password.password') %>
			<%= f.password_field :password, :class => "input_text" %>
		</p>
		<br />
		<p>
			<%= f.label :password_confirmation, t('password.confirmation') %>
			<%= f.password_field :password_confirmation, :class => "input_text" %>
		</p>
	</fieldset> 
	<fieldset class="submit">
		<p><%= f.submit t('form.update'), :class => "input_submit" %></p>
	</fieldset>
<% end %>