<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', admin_photos_path  %></li>
      <li><%= link_to 'New', new_admin_photo_path %></li>
      <li class="active"><%= link_to 'Edit', edit_admin_photo_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Edit Photo</h2>
    <div class="inner">
			<p>
				Current photo:<br />
				<%= image_tag @photo.image.url(:medium) %>
			</p>
      <% form_for @photo, :url => admin_photo_path(@photo), :html => { :class => :form } do |f| -%>

					<div class="group">
				    <%= f.label :name, "Name", :class => :label %>
				    <%= f.text_field :name, :class => 'text_field' %>
				  </div>
        
				  <div class="group">
				    <%= f.label :image, "Image", :class => :label %>
				    <%= f.file_field :image, :class => 'file_field' %>
				  </div>

				  <div class="group">
				    <%= f.label :arid, "Arid Photo", :class => :label %>
				    <%= f.check_box :arid, :class => 'check_box' %>
				  </div>

				<div class="group navform">
				  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', admin_photos_path %>
				</div>
				
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>