<h1>Settings</h1>
<h2>Update profile</h2>

<% form_for @user, :url => user_path, :html => { :method => :put} do |form| %>
	<%= form.error_messages %>
	
	<fieldset class="first">
			<p>
				<%= form.label :name %>
				<%= form.text_field :name %>
			</p>
			
			<p>
				<%= form.label :email %>
				<%= form.text_field :email %>
			</p>
			<p>
				<%= form.label :birth_date %>
				<%= form.date_select :birth_date, :start_year => 1931 %>
			</p>
			
			<p>
				<%= form.label :country %>
				<%= form.country_select :country %>
			</p>
			
			<p>
				<%= form.label :zip %>
				<%= form.text_field :zip %>
			</p>
			
			<p>
				<%= form.label :gender %>
				<%= form.select :gender, %w(Male Female) %>
			</p>
			<p>
				<%= form.label :myspace_uid, "MySpace account" %>
				<%= form.label :myspace_uid, "http://myspace.com/nickname", :class => 'example' %>
				<%= form.text_field :myspace_uid %>
			</p>
			<p>
				<%= form.label :twitter_uid, "Twitter account"%>
				<%= form.label :twitter_uid, "http://twitter.com/nickname", :class => 'example' %>
				<%= form.text_field :twitter_uid %>
			</p>
			<p>
				<%= form.label :netlog_uid, "Netlog account"%>
				<%= form.label :netlog_uid, "http://netlog.com/nickname", :class => 'example' %>
				<%= form.text_field :netlog_uid%>
			</p>
	</fieldset>
	
	<% unless @user.facebook_uid.present? %>
		<fieldset>
			<p>
				<%= form.label :password, "Choose new password" %>
				<%= form.password_field :password %>
			</p>
			<p>
				<%= form.label :password_confirmation, "Confirm your new password" %>
				<%= form.password_field :password_confirmation %>
			</p>
		</fieldset>
	<% end %>
	
	<fieldset class="submit">
		<p>
			<%= form.submit 'Update', :class => "input_submit" %>
		</p>
	</fieldset>
<% end %>