<h1>Settings</h1>
<h2>Update profile</h2>

<% form_for @user, :url => user_path, :html => { :method => :put} do |form| %>
	<%= form.error_messages %>
	
	<fieldset class="first">
			<p>
				<%= form.label :name %>
				<%= form.text_field :name %>
			</p>
			
			<p>
				<%= form.label :email %>
				<%= form.text_field :email %>
			</p>
			<p>
				<%= form.label :birth_date %>
				<%= form.date_select :birth_date %>
			</p>
			
			<p>
				<%= form.label :country %>
				<%= form.text_field :country %>
			</p>
			
			<p>
				<%= form.label :zip %>
				<%= form.text_field :zip %>
			</p>
			
			<p>
				<%= form.label :gender %>
				<%= form.select :gender, %w(Male Female) %>
			</p>
	</fieldset>
	
	<% unless @user.facebook_uid.present? %>
		<fieldset>
			<p>
				<%= form.label :password %>
				<%= form.text_field :password %>
			</p>
			<p>
				<%= form.label :password_confirmation %>
				<%= form.text_field :password_confirmation %>
			</p>
		</fieldset>
	<% end %>
	
	<fieldset class="submit">
		<p>
			<%= form.submit 'Update', :class => "input_submit" %>
		</p>
	</fieldset>
<% end %>