<h1>New user</h1>
<% form_for :user, :url => user_path do |form| %>
	<%= form.error_messages %>
	<fieldset class="first">
		<p>
			<%= form.label :name %>
			<%= form.text_field :name, :class => "input_text" %>
		</p>
		<p>
			<%= form.label :email %>
			<%= form.text_field :email, :class => "input_text" %>
		</p>

		<p>
			<%= form.label :password %>
			<%= form.password_field :password, :class => "input_text" %>
		</p>

		<p>
			<%= form.label :password_confirmation %>
			<%= form.password_field :password_confirmation, :class => "input_text" %>
		</p>
	</fieldset>

	<fieldset class="submit">
		<p>
			<%= form.submit 'Register', :class => "input_submit" %>
		</p>
	</fieldset>
<% end %>
