<%= title "#{@user.name}'s Profile" %>
<div id="profile">
	<h2>Personal info</h2>
	<%= image_tag(@user.avatar.url(:small)) %>
	<dl>
		<dt>Name: <%= @user.name %></dt>
	</dl>
	<%= link_to 'edit', edit_user_path if @user == current_user %>
	<%= render :partial => 'follow' unless @user == current_user %>
	

	<h2>Favorite Arid Songs</h2>
	<%= content_tag(:p, "No songs selected") if @user.songs.empty? %>
	<% @user.songs.each do |song| %>
		<p class="posted"><span class="author"><%= song.name %></span></p>
	<% end %>
	<%= link_to 'edit', edit_user_fav_songs_path if @user == current_user %>
	
	<h2>Activity</h2>
	<% @user.activities.each do |activity| %>
		<%= raw activity_log activity %><br />
	<% end %>
</div>