profile_picture

username (gender - age)
city - country

Fav Arid Song

myspace_id twitter_id netlog_id

add_as_friend/follow button

<h1>username's friends</h1>

profile_pictures of 4 friends

<%= link_to 'All Friends'%> <%= link_to 'Edit'%>


<h1>username's photos</h1>

4 photos

<%= link_to 'All Photos'%> <%= link_to 'Edit/Upload new'%>


<h1>username's videos</h1>

4 photos

<%= link_to 'All Videos'%> <%= link_to 'Edit/Upload new'%>

<h1>username's wall</h1>

<textarea>Write something on the wall</textarea>

overview of last actions