<%= title "#{@user.name}'s Profile" %>
<div id="profile">
	<h2>Personal info</h2>
	<dl>
		<dt>Username: <%= @user.name %></dt>
	</dl>
	<%= link_to 'edit', edit_user_path if @user == current_user %>
	

	<h2>Favorite Arid Songs</h2>
	<% @user.songs.each do |song| %>
		<p class="posted"><span class="author"><%= song.name %></span></p>
	<% end %>
	<%= link_to 'edit', edit_user_fav_songs_path if @user == current_user %>
</div>