<p>Thanks for your order.</p>

<p>Please transfer <%= @order.total_price + 10.0.to_f %> to our bank account at 000-0000000-000</p>

<p>We will ship your order after we've received your payment.</p>

<p>Your order information:</p>
<% @order.order_products.each do |order_product| %>
	<p><%= order_product.product.name %> (&euro;<%= order_product.price %>)</p>
	<p><%= "Selected variant: #{order_product.variant}" if order_product.variant.present? %></p>
<% end %>

<p>Total order price</p>
<p>Total order: &euro;<%= @order.total_price %></p>
<p>Shipping costs: &euro; 10</p>
<p>Total: &euro;<%= @order.total_price + 10.to_f %></p>

<p>Billing information</p>
<p><%= @order.billing_address.name %></p>
<p><%= raw @order.billing_address.address %></p>

<p>Shipping information</p>
<p><%= @order.shipping_address.name %></p>
<p><%= raw @order.shipping_address.address %></p>
