<p><%= t('order.mail.thanks') %></p>

<p><%= t('order.mail.payment', :total_price => @order.total_price + 10.0.to_f, :payment_code => @order.payment_code) %></p>
<p>
<%= t('order.mail.order_info') %>:
<dl>
<% @order.order_products.each do |order_product| %>
	<dt><%= order_product.product.name %> (&euro;<%= order_product.price %>)</dt>
	<dt><%= "#{t('order.mail.variant')}: #{order_product.variant}" if order_product.variant.present? %></dt>
<% end %>
</dl>
</p>

<p><%= t('order.mail.price') %>: &euro;<%= @order.total_price %></p>
<p><%= t('order.mail.shipping') %>: &euro; 10</p>
<p><%= t('order.mail.total') %>: &euro;<%= @order.total_price + 10.to_f %></p>

<p><%= t('order.mail.billing') %></p>
<p><%= @order.billing_address.name %></p>
<p><%= raw @order.billing_address.address %></p>

<p><%= t('order.mail.shiping') %></p>
<p><%= @order.shipping_address.name %></p>
<p><%= raw @order.shipping_address.address %></p>