<h1>Finish Order</h1>

<h2>Overview</h2>
<div class="clearfix">
	<%= render :partial => 'order_products' %>
</div>

<div class="info">
	<h3>Total order price</h3>
	<dl>
		<dt>Total order: &euro;<%= @order.total_price %></dt>
		<dt>Shipping costs: &euro; 10</dt>
		<dt>Total: &euro;<%= @order.total_price + 10.to_f %></dt>
	</dl>
</div>

<div class="info">
	<h3>Billing information</h3>
	<dl>
		<dt><%= @order.billing_address.name %></dt>
		<dt><%= raw @order.billing_address.address %></dt>
	</dl>
</div>

<div class="info">
	<h3>Shipping information</h3>
	<dl>
		<dt><%= @order.shipping_address.name %></dt>
		<dt><%= raw @order.shipping_address.address %></dt>
	</dl>
</div>

<div class="info">
	<h3>Finalize Order</h3>
	<% form_for @order do |form| %>
		<p>
			<%= form.label :remark %>
			<%= form.text_area :remark %>
		</p>
		<p>
			<%= form.submit 'Process order', :class => "input_submit" %>
		</p>
	<% end %>
</div>