<h1>Contact</h1>
<p>Management: <%= link_to "info@arid.be", "mailto:info@arid.be" %>  </p>
<p>Bookings: BIGV BVBA - Peter Verstraelen (<%= link_to "peter@peterverstraelen.com", "mailto:peter@peterverstraelen.com" %> )</p>
<p>Promotion: Listenup - Carolien De Bie (<%= link_to "carolien@listenup.be", "mailto:carolien@listenup.be" %>) </p>
<p>Label Benelux: Sander Graumans (<%= link_to "sander.graumans@pias.be", "mailto:sander.graumans@pias.be" %>) </p>
<p>PIAS Belgium (<%= link_to "www.pias.be", "http://www.pias.be" %>) </p>

