<p>
	<%= form.label :title %>
	<%= form.text_field :title, :class => "input_text" %>
</p>

<p>
	<%= form.label :body %>
	<%= form.text_area :body, :class => 'wymeditor' %>
</p>

<div class="checkbox">
	<p>
		<%= form.label :exclusive %>
		<%= form.check_box :exclusive %>
	</p>
	<p>
		<%= form.label :press %>
		<%= form.check_box :press %>
	</p>
</div>