<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', admin_posts_path  %></li>
      <li><%= link_to 'New', new_admin_post_path %></li>
      <li><%= link_to 'Show', admin_post_path %></li>
      <li class="active"><%= link_to 'Edit', edit_admin_post_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Edit Post</h2>
    <div class="inner">
      <% form_for @post, :url => admin_post_path(@post), :html => { :class => :form } do |f| -%>
				<%= f.error_messages %>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>