<%= wym_editor_initialize %>

<h1>New post</h1>
<% form_for @post, admin_posts_path do |form| %>
	<p>
		<%= form.label :title %>
		<%= form.text_field :title %>
	</p>
	
	<p>
		<%= form.label :body %><br />
		<%= form.text_area :body, :class => 'wymeditor' %>
	</p>
	
	<p>
		<%= form.submit 'Create new post', :class => 'wymupdate' %>
	</p>
	
<% end %>