<%- if @photo.comments.present? -%>
	<div id="comments">
		<h2><span class="comment_count"><%= pluralize(@photo.comments.size, "comment" )%></span></h2>
		<% @photo.comments.each do |comment| %>
			<div class="comment">
				<p class="posted"><span class="author"><%= link_to comment.user.name, profile_path(comment.user) %></span> | <apsn class="date"><%= comment.created_at.strftime('%d/%m/%y') %></apsn></p>
				<div class="comment_content">
					<p><%= comment.body %></p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<div id="comment_form" class="box">
	<h2>Leave a comment</h2>
	<div>
		<% if current_user %>
			<% form_for :comment, :url => user_photo_comments_path(current_user, @photo) do |form| %>
				<%= form.hidden_field :photo_id, :value => @photo.id %>
				<p>
					<%= form.text_area :body %>
				</p>
				<%- if current_user.facebook_connected? -%>
					<p>
						<label><%= check_box_tag :post_to_facebook, 'yes', current_user.fb_post_comment %> Post this comment to Facebook?</label>
					</p>
				<%- end -%>
				<p>
					<%= form.submit 'Add Comment', :class => "input_submit" %>
				</p>
			<% end %>
		<% else %>
			You need to be logged in to comment. <%= link_to "Log in or Register", login_path %>.
		<% end %>
	</div>
</div>