<%- if @user.present? -%>
	<p class="go-back"><%= link_to "Back to #{@user.name}'s profile", profile_path(@user) %></p>
	
	<%= title "#{@user.name}'s photo's" %>
	<%- if @user == current_user -%>
		<div id="upload-media" class="box">
			<%= link_to 'Upload photos', new_user_photo_path(current_user), :class => 'button upload' %>
		</div>
	<%- end -%>

	<div id="photo-list-big">
		<ul class="clearfix">
			<%- @photos.each do |photo| -%>
			<li>
				<%= link_to "#{image_tag(photo.image.url(:small))}", [@user, photo] %>
				<%= content_tag :p, link_to("Belongs to #{photo.gig.venue}", [photo.gig]) if photo.gig.present?  %>
			</li>
			<%- end -%>
		</ul>
	</div>
<%- else -%>
	<%= title t('photos.arid_title') %>
	<div id="photo-list-big">
		<ul class="clearfix">
			<%- @photos.each do |photo| -%>
			<li>
				<%= link_to "#{image_tag(photo.image.url(:small))}", [photo] %>
				<%= content_tag :p, link_to("Belongs to #{photo.gig.venue}", [photo.gig]) if photo.gig.present?  %>
			</li>
			<%- end -%>
		</ul>
	</div>
<%- end -%>