<%- if @user.present? -%>
	<p class="go-back"><%= link_to "Back to #{@user.name}'s profile" %></p>
	
	<%= title "#{@user.name}'s photo's" %>
	<%- if @user == current_user -%>
		<div id="upload-media" class="box">
			<%= link_to 'Upload photos', new_user_photo_path(current_user), :class => 'button upload' %>
		</div>
	<%- end -%>

	<div id="photo-list-big">
		<ul class="clearfix">
			<li>
				<a href="jef-photo-detail.html">
					<img src="/images/photo.gif" alt="" />
				</a>
			</li>
		</ul>
	</div>

	<p><%= link_to 'add more', new_user_photo_path(current_user) %></p>

	<%- @photos.each do |photo| -%>
	<div class="product <%= cycle('left','right') %>">
		<div class="lightbox"><%= link_to "#{image_tag(photo.image.url(:small))}", photo.image.url(:large) %></div>
		<%= link_to 'Details', user_photo_path(@user, photo) %>
		<%= content_tag :p, "Belongs to #{photo.gig.to_param}" if photo.gig.present?  %>
	</div>
	<%- end -%>
<%- else -%>
	<%= title t('photos.arid_title') %>
	<%- @photos.each do |photo| -%>
	<div class="product <%= cycle('left','right') %>">
		<div class="lightbox"><%= link_to "#{image_tag(photo.image.url(:small))}", photo.image.url(:large) %></div>
		<%= link_to 'Details', [photo] %>
	</div>
	<%- end -%>
<%- end -%>