<%= title "Upload a new photo of Arid" %>

<%- form_for @photo, :url => user_photos_path(current_user), :html => { :multipart => true } do |form| -%>
	<%= form.error_messages %>
	
	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>
	
	<p>
		<%= form.label :gig_id, 'Select a gig' %>
		<%= form.select :gig_id, @gigs.collect{|s| [s.to_param, s.id]}, {:include_blank => ' - Select a Gig - '} %>
	</p>
	
	<p>
		<%= form.label :image %>
		<%= form.file_field :image %>
	</p>
	
	<p>
		<%= form.submit :Upload, :class => 'input_submit' %>
	</p>
<%- end -%>
