<div class="news_entry <%= "first" if post == @posts.first %>">
	<h1><%= link_to post.title, post_path(post) %></h1>
	<p class="meta clearfix">
		<span class="date"><%= post.created_at.strftime('%e %B').lstrip %></span> 
		<%= link_to(post.comments.size, post_path(post, :anchor => "comments"), :class => "jump_to_comments") %>
	</p>

	<p>
		<%= raw simple_format(post.body) %>
	</p>
	<ul class="button_list clearfix">
		<li id="sharethis_btn"><%=  raw addthis_share_button(post_url(post)){"SHARE THIS"} %></li>
		<li><a href="#">Add comment</a></li>
	</ul>
</div>