<div class="news_entry first">
  <%= title "#{@post.title}" %>
  <p class="meta clearfix">
		<span class="date"><%= @post.created_at.strftime('%e %B').lstrip %></span> 
		<a href="#comments" class="jump_to_comments" href="#"><%= @post.comments.size %></a>
	</p>
	<%- if @post.exclusive && !current_user -%>
		<p>
			You need to be logged in to view this post. <%= link_to t('menu.login_or_register'), login_path %>.
		</p>
	<%- else -%>
		<p>
	 		<%= raw (@post.body) %>
	
	  </p>
		<ul class="button_list clearfix">
			<li id="sharethis_btn"><%=  raw addthis_share_button{t('posts.share')} %></li>
			<li><%= link_to t('posts.back'), "/news" %></li>
		</ul>
		<div id="comments">
		  <h2><span class="comment_count"><%= t('comments.comments', :count => @post.comments.size )%></span></h2>
	    <div class="comment">
				<% @post.comments.each do |comment| %>
					<p class="posted"><span class="author"><%= link_to comment.user.name, profile_path(comment.user) %></span> | <apsn class="date"><%= comment.created_at.strftime('%d/%m/%y') %></apsn></p>
		      <div class="comment_content">
						<p><%= comment.body %></p>
		      </div>
				<% end %>
	    </div>

	  </div>
	  <div id="comment_form">
	    <h2><%= t('comments.leave_comment') %></h2>
			<div>
				<% if current_user %>
				<% form_for :comment, :url => post_comments_path(@post) do |form| %>
					<%= form.hidden_field :post_id, :value => @post.id %>
				<p>
					<%= form.text_area :body %>
				</p>
				<%- if current_user.facebook_connected? -%>
					<p>
						<label><%= check_box_tag :post_to_facebook, '', current_user.fb_post_comment %> Post this comment to Facebook?</label>
					</p>
				<%- end -%>
				<p>
					<%= form.submit t('comments.add_comment'), :class => "input_submit" %>
				</p>
				<% end %>
				<% else %>
					You need to be logged in to comment. <%= link_to t('menu.login_or_register'), login_path %>.
				<% end %>
			</div>
	  </div>
	<%- end -%>
</div>

