<h1><%= @post.title %></h1>
<div>
	<%= simple_format(@post.body) %>
</div>



<h4>Comments</h4>
<div>
	<% @post.comments.each do |comment| %>
		<div>
			door <%= comment.user.username %>
			<%= comment.body %>
		</div>
	<% end %>
</div>
<div>
	<% if current_user %>
		<% form_for :comment, :url => post_comments_path(@post) do |form| %>
			<p>
				<%= form.text_area :body %>
			</p>
			<p>
				<%= form.submit 'Add Comment' %>
			</p>
		<% end %>
	<% else %>
		You need to be logged in
	<% end %>
</div>
