
  <div class="group">
    <%= f.label :name, "Name", :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :email, "Email", :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :crypted_password, "Crypted_password", :class => :label %>
    <%= f.text_field :crypted_password, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :password_salt, "Password_salt", :class => :label %>
    <%= f.text_field :password_salt, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :persistence_token, "Persistence_token", :class => :label %>
    <%= f.text_field :persistence_token, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :single_access_token, "Single_access_token", :class => :label %>
    <%= f.text_field :single_access_token, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :perishable_token, "Perishable_token", :class => :label %>
    <%= f.text_field :perishable_token, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :admin, "Admin", :class => :label %>
    <%= f.check_box :admin, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :facebook_uid, "Facebook_uid", :class => :label %>
    <%= f.text_field :facebook_uid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :profile_picture, "Profile_picture", :class => :label %>
    <%= f.text_field :profile_picture, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :gender, "Gender", :class => :label %>
    <%= f.check_box :gender, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :birth_date, "Birth_date", :class => :label %>
    <%= f.date_select :birth_date, :class => 'date_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :country, "Country", :class => :label %>
    <%= f.text_field :country, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :fav_arid_song, "Fav_arid_song", :class => :label %>
    <%= f.text_field :fav_arid_song, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :fb_post_comment, "Fb_post_comment", :class => :label %>
    <%= f.check_box :fb_post_comment, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :fb_post_photo, "Fb_post_photo", :class => :label %>
    <%= f.check_box :fb_post_photo, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :fb_post_video, "Fb_post_video", :class => :label %>
    <%= f.check_box :fb_post_video, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :myspace_uid, "Myspace_uid", :class => :label %>
    <%= f.text_field :myspace_uid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :twitter_uid, "Twitter_uid", :class => :label %>
    <%= f.text_field :twitter_uid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :netlog_uid, "Netlog_uid", :class => :label %>
    <%= f.text_field :netlog_uid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', admin_users_path %>
</div>