
  <div class="group">
    <%= f.label :date, "Date", :class => :label %>
    <%= f.date_select :date, :class => 'date_select' %>
  </div>

  <div class="group">
    <%= f.label :time, "Time", :class => :label %>
    <%= f.datetime_select :time, :class => 'datetime_select' %>
  </div>

  <div class="group">
    <%= f.label :venue, "Venue", :class => :label %>
    <%= f.text_field :venue, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :venue_url, "Venue_url", :class => :label %>
    <%= f.text_field :venue_url, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :city, "City", :class => :label %>
    <%= f.text_field :city, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :country, "Country", :class => :label %>
    <%= f.country_select :country, %w(Belgium Netherlands)%>
    
  </div>

  <div class="group">
    <%= f.label :tickets_url, "Tickets_url", :class => :label %>
    <%= f.text_field :tickets_url, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', admin_gigs_path %>
</div>