

<h1>Edit <%= @gig.venue %></h1>
<div>
      <% form_for @gig, :url => admin_gig_path(@gig), :html => {:method => :put} do |form| %>


	<p>
		<%= form.label :date %><br />
		<%= form.date_select :date %>
	</p>
	<p>
		<%= form.label :time %><br />
		<%= form.time_select :time %>
	</p>

	<p>
		<%= form.label :venue %><br />
		<%= form.text_field :venue %>
	</p>
        <p>
		<%= form.label :venue_url  %><br />
		<%= form.text_field :venue_url %>
	</p>
        <p>
		<%= form.label :city %><br />
		<%= form.text_field :city %>
	</p>
        <p>
		<%= form.label :country %><br />
		<%= form.country_select :country, "Belgium" %>
	</p>
			<%= form.submit 'Update'%>
		</p>
		
	<% end %>
</div>