<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'List', admin_gigs_path %></li>
      <li><%= link_to 'New', new_admin_gig_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">All Gigs</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Date</th>
					<th>Venue</th>
					<th>Tickets</th>
					<th>City</th>
					<th>Country</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @gigs.each do |gig| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to gig.date.strftime('%d-%m-%Y'), admin_gig_path(gig) %></td>
					<td><%= gig.venue %></td>
					<td><%= gig_ticket_link(gig) %></td>
					<td><%= gig.city %></td>
					<td><%= gig.country %></td>
          <td class="last">
            <%= link_to 'show', admin_gig_path(gig) %> |
            <%= link_to 'edit', edit_admin_gig_path(gig) %> |
            <%= link_to 'destroy', admin_gig_path(gig), :method => :delete, :confirm => 'Are you sure?' %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar">
        <div class="actions">
        </div>
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
	<% content_for :sidebar, render(:partial => '/admin/shared/sidebar') -%>