<h2><span class="comment_count"><%= t('comments.comments', :count => @gig.comments.size )%></span></h2>
<% @gig.comments.each do |comment| %>
<div class="comment">
	<p class="posted"><span class="author"><%= link_to comment.user.name, profile_path(comment.user) %></span> | <apsn class="date"><%= comment.created_at.strftime('%d/%m/%y') %></apsn></p>
	<div class="comment_content">
		<p><%= comment.body %></p>
	</div>
</div>
<% end %>

<div id="comment_form">
  <h2><%= t('comments.leave_comment') %></h2>
	<div>
		<% if current_user %>
			<% form_for :comment, :url => gig_comments_path(@gig) do |form| %>
				<%= form.hidden_field :gig_id, :value => @gig.id %>
				<p>
					<%= form.text_area :body %>
				</p>
				<p>
					<%= form.submit t('comments.add_comment'), :class => "input_submit" %>
				</p>
			<% end %>
		<% else %>
			You need to be logged in to comment. <%= link_to "Log in or Register", login_path %>.
		<% end %>
	</div>
</div>