<p class="go-back"><%= link_to "#{t('gigs.back_to_gig')} #{gig.venue.titleize}", [gig] %></p>
        
<h1><%= gig.venue.titleize %></h1>
  <div id="tourdate-detail" class="box clearfix">
	<dl>
		<dt><%= t('gigs.date') %>:</dt>
		<dd><%= gig.date.strftime('%d-%m-%Y') %> </dd>
		<dt><%= t('gigs.venue') %>:</dt>
		<dd><%= gig.venue %> </dd>
		<dt><%= t('gigs.city') %>:</dt>
		<dd><%= gig.city %> </dd>
		<dt><%= t('gigs.country') %>:</dt>
		<dd><%= gig.country %> </dd>
	</dl>
</div>