<%= title "Tour Calendar" %>

<table>
	<!--<thead>
		<tr>
			<th>Date</th>
			<th>Venue</th>
                        <th>Tickets</th>
                        <th>City</th>
                        <th>Country</th>

		</tr>
	</thead>-->
	<tbody>
	<% upcoming_gigs.each do |gig| %>
		<tr>
			<td><%= link_to gig.date.strftime('%d-%m-%Y'), gig_path(gig) %></td>
			<td><%= link_to gig.venue, gig.venue_url %></td>
                        <td><%= gig_ticket_link(gig) %></td>
                        <td><%= gig.city %></td>
                        <td><%= gig.country %></td>
			
		</tr>
	<% end %>
	</tbody>
</table>