<h1>Tour Calendar</h1>


<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Venue</th>
                        <th>Tickets</th>
                        <th>City</th>
                        <th>Country</th>

		</tr>
	</thead>
	<tbody>
	<% upcoming_gigs.each do |gig| %>
		<tr>
			<td><%= gig.date.strftime('%d-%m-%Y') %></td>
			<td><%= link_to gig.venue, gig_path(gig) %></td>
                        <td><%= link_to gig.venue_url, gig.venue_url %></td>
                        <td><%= gig.city %></td>
                        <td><%= gig.country %></td>
			
		</tr>
	<% end %>
	</tbody>
</table>