<%= title "#{@gig.venue}" %>

<table>

	<tr>
		<td><%= t('gigs.date') %>:</td>
		<td><%= @gig.date.strftime('%d-%m-%Y') %> </td>
	</tr>
	<tr>
		<td><%= t('gigs.time') %>:</td>
		<td><%= @gig.time.strftime('%H:%M') %> </td>
	</tr>
	<tr>
		<td><%= t('gigs.venue') %>:</td>
		<td><%= link_to @gig.venue, @gig.venue_url %> (<%= gig_ticket_link(@gig) %>) </td>
	</tr>
	<tr>
		<td><%= t('gigs.city') %>:</td>
		<td><%= @gig.city %> </td>
	</tr>
	<tr>
		<td><%= t('gigs.country') %>:</td>
		<td><%= @gig.country %> </td>
	</tr>

</table>

<p><%= link_to t('gigs.back'), gigs_path %></p>
