<%= title "#{@gig.venue}" %>

<table>

  <tr>
    <td>Date:</td>          <td><%= @gig.date.strftime('%d-%m-%Y') %> </td>
  </tr>
  <tr>
    <td>Time:</td>          <td><%= @gig.time.strftime('%H:%M') %> </td>
  </tr>
  <tr>
    <td>Venue:</td>         <td><%= link_to @gig.venue, @gig.venue_url %> (<%= gig_ticket_link(@gig) %>) </td>
  </tr>
  <tr>
    <td>City:</td>           <td><%= @gig.city %> </td>
  </tr>
  <tr>
    <td>Country:</td>         <td><%= @gig.country %> </td>
  </tr>

</table><br />
<%= link_to "Back to Tour Calendar", gigs_path %>
