<div class="login_or_signup">
	<div class="login">
		<%= title 'Login' %>
			<% form_for @session, :url => user_session_path do |form| %>
			<%= form.error_messages %>
			<fieldset class="first">
				<p>
					<%= form.label :email %>
					<%= form.text_field :email, :class => "input_text" %>
				</p>
		
				<p>
					<%= form.label :password %>
					<%= form.password_field :password, :class => "input_text" %>
				</p>
			</fieldset>
	
			<fieldset class="submit">
				<p><%= form.submit 'Login', :class => "input_submit" %></p>
			</fieldset>
		<% end %>
		<p>
			<%= link_to('Forgot password?', new_password_reset_path ) %><br />
			<a class="signup_link" href="#">Sign up for a free account.</a>
		</p>
	</div>
	
	<div class="signup">
		<h1>New user</h1>
		<% form_for :user, :url => users_path do |form| %>
			<%= form.error_messages %>
			<fieldset class="first">
				<p>
					<%= form.label :name %>
					<%= form.text_field :name, :class => "input_text" %>
				</p>
				<p>
					<%= form.label :email %>
					<%= form.text_field :email, :class => "input_text" %>
				</p>

				<p>
					<%= form.label :password %>
					<%= form.password_field :password, :class => "input_text" %>
				</p>

				<p>
					<%= form.label :password_confirmation %>
					<%= form.password_field :password_confirmation, :class => "input_text" %>
				</p>
			</fieldset>

			<fieldset class="submit">
				<p>
					<%= form.submit 'Register', :class => "input_submit" %>
				</p>
			</fieldset>
		<% end %>
		<p>
			<a class="login_link" href="#">Already an account? Login.</a>
		</p>
	</div>

	<div class="facebook_connect">
		<h1>Facebook</h1>
		<% form_for :user_sessions, :url => user_session_path, :html => {:id => 'facebook_connect_form'} do |f| %>
		<% end %>
		<a href="#" onclick="FB.Connect.requireSession(function() { FB.Connect.showPermissionDialog('email', function() {$('#facebook_connect_form').submit(); }); }); return false;">
	      <img id="fb_login_image" src="/images/fb_connect.png" alt="Connect" />
	    </a>
	</div>
</div>