<h1>Login</h1>
<div>
	<% form_for :user_session, :url => user_session_path do |form| %>
		<p>
			<%= form.label :email %>
			<%= form.text_field :email %>
		</p>
		<p>
			<%= form.label :password %>
			<%= form.password_field :password %>
		</p>
		<p>
			<%= form.submit 'Login' %>
		</p>
	<% end %>
	
	<%= link_to('forgot password', new_password_reset_path ) %>
</div>