<%= title 'Login' %>
	<% form_for :user_session, :url => user_session_path do |form| %>
	<fieldset class="first">
		<p>
			<%= form.label :email %>
			<%= form.text_field :email, :class => "input_text" %>
		</p>
		
		<p>
			<%= form.label :password %>
			<%= form.password_field :password, :class => "input_text" %>
		</p>
	</fieldset>
	
	<fieldset class="submit">
		<p><%= form.submit 'Login', :class => "input_submit"%></p>
	</fieldset>
<% end %>
<p><%= link_to('forgot password?', new_password_reset_path ) %></p>
