<div class="login_or_signup">
	<div class="login">
		<%= title t('login.title') %>
			<% form_for @session, :url => user_session_path do |form| %>
			<%= form.error_messages %>
			<fieldset class="first">
				<p>
					<%= form.label :email, t('login.email') %>
					<%= form.text_field :email, :class => "input_text" %>
				</p>
		
				<p>
					<%= form.label :password, t('login.password') %>
					<%= form.password_field :password, :class => "input_text" %>
				</p>
			</fieldset>
	
			<fieldset class="submit">
				<p><%= form.submit t('login.submit'), :class => "input_submit" %></p>
			</fieldset>
		<% end %>
		<p>
			<%= link_to(t('password.forgot'), new_password_reset_path ) %>
		</p>
		<div id="other-action" class="clearfix">
		  <p id="signup">
		    <a class="signup_link" href="#"><%= t('login.signup') %></a> <span class="or"><%= t('login.or') %></span>
		  </p>
		  <p id="fb_connect">
				<% form_for :user_sessions, :url => user_session_path, :html => {:id => 'facebook_connect_form'} do |f| %>
				<% end %>
				<a href="#" onclick="FB.Connect.requireSession(function() { FB.Connect.showPermissionDialog('email,publish_stream,read_stream', function() {$('#facebook_connect_form').submit(); }); }); return false;">
			      <img src="/images/fb-connect.png" alt="Connect with Facebook" />
		    </a>
		  </p>
		</div>
	</div>
	
	
	<div class="signup">
		<h1><%= t('login.user.new') %></h1>
		<% form_for :user, :url => user_path do |form| %>
			<%= form.error_messages %>
			<fieldset class="first">
				<p>
					<%= form.label :name, t('login.user.name') %>
					<%= form.text_field :name, :class => "input_text" %>
				</p>
				<p>
					<%= form.label :email, t('login.email') %>
					<%= form.text_field :email, :class => "input_text" %>
				</p>

				<p>
					<%= form.label :password, t('password.password') %>
					<%= form.password_field :password, :class => "input_text" %>
				</p>

				<p>
					<%= form.label :password_confirmation, t('password.confirmation') %>
					<%= form.password_field :password_confirmation, :class => "input_text" %>
				</p>
			</fieldset>

			<fieldset class="submit">
				<p>
					<%= form.submit t('login.user.register'), :class => "input_submit" %>
				</p>
			</fieldset>
		<% end %>
		<p>
			<a class="login_link" href="#"><%= t('login.already_user') %></a>
		</p>
	</div>
</div>