<div id="socialmedia" class="box">
	<h2>Follow Arid on</h2>
	<ul class="clearfix">
		<%= link_to image_tag('icons/social/IconMyspaceSml.png'), "http://www.myspace.com/aridcentral", :title => "Myspace", :target => "_blank" %>
		<%= link_to image_tag('icons/social/IconFacebookSml.png'), "http://www.facebook.com/pages/Arid/21485402588", :title => "Facebook", :target => "_blank"%>
		<%= link_to image_tag('icons/social/IconLastfmSml.png'), "http://www.last.fm/music/Arid", :title => "Last.fm", :target => "_blank"%>
		<%= link_to image_tag('icons/social/IconTwitterSml.png'), "http://twitter.com/aridcentral", :title => "Twitter", :target => "_blank"%>
		<%= link_to image_tag('icons/social/IconYoutubeSml.png'), "http://www.youtube.com/aridcentral", :title => "Youtube", :target => "_blank"%>
	</ul>
</div>