<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
					
<html>
<head>
	<title>Arid</title>
	<%= stylesheet_link_tag "depot", :media => "all" %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="application">

	<div id="banner">
		
		Arid
                <div id="user_navigation">
                  <% if current_user %>
	                  <%= link_to "admin", admin_posts_path if current_user.admin? %>
										<%= link_to "logout", logout_path %>
									<% else %>
	                  <%= link_to "login", login_path %>
	                  <%= link_to "register", signup_path %>
									<% end %>
                </div>
	</div>
	<div id="columns">
		<div id="side">

                  <div id="menu">
                    <h2>Navigation</h2>
			<%= link_to "News", posts_path %> <br />
			<%= link_to "Tour Calendar", gigs_path %><br />
			<!--<a href="http://www.../music">Music</a><br />
                        <a href="http://www.../videos">Videos</a><br />
                        <a href="http://www.../photos">Photos</a><br />
                        <a href="http://www.../shop">Shop</a><br />
			<a href="http://www.../exclusives">Exclusives</a><br />-->
                        <%= link_to "Contact", contact_path %><br />
                  </div>
                  <br><br>
                  <div id="newsletter">
                    subscribe to our newsletter
                    
	
                  </div><br />
                  <div id="badges">
                    <h2>Social</h2>
                    <a target="_blank" href="http://www.myspace.com/aridencentral" title="Myspace"><img src="images/IconMySpaceSml.png"/></a>
                    <a target="_blank" href="http://www.facebook.com/pages/Arid/21485402588" title="Facebook"><img src="images/IconFacebookSml.png"/></a>
                    <!--<a target="_blank" href="http://www.twitter.com/colorlessgreen" title="Twitter"><img src="images/IconTwitterSml.png"/></a>
                    <a target="_blank" href="http://www.youtube.com/vocalistix" title="Youtube"><img src="images/IconYoutubeSml.png"/></a>-->
                    <a target="_blank" href="http://www.last.fm/music/Arid" title="Last.fm"><img src="images/IconLastfmSml.png"/></a>
                    <!--<a target="_blank" href="http://www.ilike.com/artist/Colorless+Green+Ideas" title="iLike"><img src="images/IconIlikeSml.png"/></a>-->
                   </div> <br><br>
                   <div id="facebook_badge">
                        <script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script><script type="text/javascript">FB.init("5f09ca15d65cdb0ba72523835015bf6b");</script><fb:fan profile_id="21485402588" stream="" connections="10" width="200"></fb:fan><div style="font-size:8px; padding-left:10px"></div>
                   </div> <br><br>
                   <!--<div id=""twitter_badge>
                        <a href="http://twitstamp.com"><img src="http://twitstamp.com/colorlessgreen/minichrome.png" border="0" alt="twitstamp.com" /></a>
                   </div><br><br>-->
                    <h2>Next shows</h2>

                        <%  upcoming_gigs.each do |gig| %>

                            <%= gig.date.strftime('%d-%m-%Y') %>: <%= link_to gig.venue, gig_path(gig) %><br />
                            
                        <%  end %>


                  </div>

		<div id="main">
			<% if flash[:notice] -%>
				<div id="notice"><%= flash[:notice] %></div>
			<% end -%>
			<%= yield :layout %>
		</div>
	</div>
</body>
</html>