<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
					
<html>
<head>
	<title><%= title :site_name => 'Arid' %></title>
	<%= stylesheet_link_tag "depot", :media => "all" %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="application">

	<div id="banner">
		
		Arid
                <div id="user_navigation">
                  <% if current_user %>
	                  <%= render '/admin/shared/admin_navigation' if current_user.admin? %>
										<%= link_to "logout", logout_path %>
									<% else %>
	                  <%= link_to "login", login_path %>
	                  <%= link_to "register", signup_path %>
									<% end %>
                </div>
	</div>
	<div id="columns">
		<div id="side">

                  <div id="menu">
                    <h2>Navigation</h2>
			<%= link_to "News", posts_path %> <br />
			<%= link_to "Tour Calendar", gigs_path %><br />
			<!--<a href="http://www.../music">Music</a><br />
                        <a href="http://www.../videos">Videos</a><br />
                        <a href="http://www.../photos">Photos</a><br />
                        <a href="http://www.../shop">Shop</a><br />
			<a href="http://www.../exclusives">Exclusives</a><br />-->
                        <%= link_to "Contact", contact_path %><br />
                  </div>
                  <br><br>
                  <div id="newsletter">
                    <%= render "/layouts/newsletter_sidebar" %>
                                    
                  </div><br />

                  <div id="badges">
                    <%= render "/layouts/social_sidebar" %>
                    <%= render "/layouts/shows_sidebar" %>
                  </div>

                  </div>

		<div id="main">
			<% if flash[:notice] -%>
				<div id="notice"><%= flash[:notice] %></div>
			<% end -%>
			<%= yield :layout %>
		</div>
	</div>
</body>
</html>