<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"  xmlns:fb="http://www.facebook.com/2008/fbml" >
<head>

	<meta http-equiv="content-type" content="text/html; charset=iso-8859-15" />
	<meta http-equiv="content-language" content="nl" />
	<meta name="keywords" content="Arid, band, music" />
	<%= render 'shared/facebook_header' %>
	
	<%= auto_discovery_link_tag(:atom, {:controller => 'posts', :action => 'index', :format => 'atom'}, :title => "Arid News") %>
	<%= auto_discovery_link_tag(:atom, {:controller => 'gigs', :action => 'index', :format => 'atom'}, :title => "Arid On Stage") %>

	<title><%= title :site_name => 'Arid' %></title>
	<%= stylesheet_link_tag 'screen', :media => "all" %>
	<%= stylesheet_link_tag 'print', :media => "print" %>
	<%= javascript_include_tag :defaults, :cache => true %>
	
	<%= stylesheet_link_tag 'jquery.lightbox-0.5' %>
	<%= javascript_include_tag 'jquery.lightbox-0.5.js' %>

	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" /><![endif]-->
	
	<%= raw fb_connect_javascript_tag %>
  <%= raw init_fb_connect('XFBML', :js => :jquery) %>
</head>
<body>
	
	<%= render "/shared/top_navigation" %>

	<div id="header" class="clearfix">
		<div class="container">
			<p id="logo"><a href="/">Arid</a></p>
			<ul id="nav_main">
				<li class="current"><%= link_to t('menu.news'), [:posts] %></li>
				<li class=""><%= link_to t('menu.gigs'), [:gigs] %></li>
				<li class=""><%= link_to t('menu.contact'), [:contact] %></li>
				<li class=""><%= link_to t('menu.photos'), [:photos] %></li>
				<li class=""><%= link_to t('menu.videos'), [:videos] %></li>
			</ul>
		</div>
	</div>
		
	<div id="content-wrap">
		<div class="container">
			<div id="sidebar">
				
				<%= render "/layouts/social_sidebar" %>
				<%= render "/layouts/newsletter_sidebar" %>
				<%= render "/layouts/shows_sidebar" %>
				<%= render "/layouts/promo_sidebar" %>
				<div id="facebook_badge" class="box">
					<div id="facebook_badge">
						<fb:fan profile_id="21485402588" stream="" connections="6" width="200"></fb:fan><div style="font-size:8px; padding-left:10px"></div>
					</div>
				</div>
				
			</div>
			<div id="content" class="clearfix">
				<%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice].present? %>
				<%= content_tag(:div, flash[:error], :class => 'error') if flash[:error].present? %>

				<%= yield :layout %>
			</div>
		</div> 
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11912564-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>